@{
    ViewData["Title"] = "Index";
}

<h1> La page de Todos </h1>

<form>
    <div>
        <label for="Counter">Ceci est le counter:</label>
        <input type="number" id="Counter" name="Counter" value="@ViewData["Counter"]">
    </div>
    <div>
        <input type="submit" value="Increase">
    </div>
</form>
