@model Todo.Web.Models.TodosListModel

@{
    ViewData["Title"] = "Delete Todo";
}

<h1> Ajout d'un Todo </h1>

<form asp-controller="Todos" asp-action="DeleteTodo" method="post">
    <label for="todo">Selectionnez les todo à enlever (CTLR pour plus d'un item):</label>
    <select name="todo" id="todo" multiple>
@foreach (var item in Model.todosList) {
        <option value=@item.Id>@Html.DisplayFor(modelItem => item.description)</option>
}
    </select>
    <br><br>
    <input type="submit" value="Delete">
</form>
